<!DOCTYPE html>
<html>
  <head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Angular</title>
  </head>
  <body>   
    <ola-angular></ola-angular>
    <app-ola-angular-cli></app-ola-angular-cli>
  </body>
  
</html>

<table class="table table-hover table-striped"  width="60%" align="center" border="1">    
<tbody>
  <tr>
    <td align="center"><b>Cursos</b></td>
    <td align="center"><b>perido</b></td>
  </tr>
  <tr>
    <td align="center">Analise e desenvolvimento de sistemas </td>
    <td align="center">Tarde</td>
  </tr>
  <tr>
    <td align="center">Analise e desenvolvimento de sistemas </td>
    <td align="center">Noite</td>
  </tr>
  <tr>
    <td align="center">Eventos</td>
    <td align="center">Manhã</td>
  </tr>
  <tr>
    <td align="center">Gestão comercial</td>
    <td align="center">Manhã</td>
  </tr>
  <tr>
    <td align="center">Gestão comercial</td>
    <td align="center">Noite</td>
  </tr>
  <tr>
    <td align="center">Recursos Humanos</td>
    <td align="center">Noite</td>
  </tr>
</tbody>

  <!--
  <thead>      
    <tr>        
      <th>Framework</th>        
      <th>Aplicação</th>      
    </tr>    
  </thead>    
  <tbody>      
    <tr>        
      <td>Angular</td>        
      <td>Front-End</td>      
    </tr>      
    <tr>        
      <td>Spring MVC</td>        
      <td>Back-End</td>      
    </tr>    
  </tbody>  
  -->
</table>